<h1>Edit My Account</h1>

<% semantic_form_for @user, :url => account_path, :live_validations => true do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "users/form", :object => f %>
  <%= f.commit_button "Update"%>
<% end %>

<br /><%= link_to "My Profile", account_path %>
